<mat-toolbar>
    <mat-form-field color="accent" class="trm-search-container">
        <input matInput (input)="terms$.next($event.target.value)" type="text">
    </mat-form-field>
    <mat-icon color="accent">search</mat-icon>
</mat-toolbar>
<mat-list>
    <a mat-list-item [routerLink]="['/contact', contact.id]" *ngFor="let contact of contacts$ | async">
        <img mat-list-avatar [src]="contact.image" alt="Picture of {{ contact.name || '' }} ">
        <h3 mat-line>{{ contact.name }}</h3>
    </a>

    <a routerLink="/contact/new" mat-fab title="Add a new contact" class="trm-floating-button">
        <mat-icon class="md-24">add</mat-icon>
    </a>
</mat-list>